/* HEADER  */
header {
  background-color: #d3fbfb;
}
.header-logo {
  text-align: center;
}
.header-logo h3 {
  font-size: 30px;
  color: rgb(64, 64, 230);
  font-weight: 700;
}
.header-logo i {
  font-size: 30px;
  color: rgb(64, 64, 230);
  font-weight: 700;
}

header li a {
  text-align: center;
  margin-left: 20px;
  font-size: 24px;
  color: rgb(116, 226, 43);
}

/* CHOICE */
.choice .container{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choice .container .admin{
    border: 1px solid #4442c5;
}
.choice .container .storage{
    border: 1px solid #4258c5;
}
.choice .container a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: black;
    
}
/* FOOTER  */
footer {
  background-color: #d3fbfb;
}
footer h4 {
  font-size: 30px;
  text-align: center;
  color: rgb(64, 64, 230);
}
footer li {
  list-style: none;
}
footer .footer-item li {
  font-size: 17px;
  font-weight: 500;
  color: #311616;
}
.footer-bottom {
  font-size: 17px;
  font-weight: 500;
  color: #70452f;
}
