
.modal-header{
    background-color: #a9ede9;
     color: #2a2a22;
}
.modal-title{
 font-size: 24px;
    font-weight: 700;

}
.modal-body{
     background-color: #fbdae9;
}
.modal-body i{
    color: #f15c73;
}

.modal-body .sp-thongbao{
    font-size: 17px;
    color: red;
    font-weight: 500;
}

.modal-footer{
    background-color: #fbf0ea;
}