/* HEADER  */
header {
  background-color: #d3fbfb;
}
.header-logo {
  text-align: center;
}
.header-logo h3 {
  font-size: 30px;
  color: rgb(64, 64, 230);
  font-weight: 700;
}
.header-logo i {
  font-size: 30px;
  color: rgb(64, 64, 230);
  font-weight: 700;
}

header li a {
  text-align: center;
  margin-left: 20px;
  font-size: 24px;
  color: rgb(116, 226, 43);
}
/* SEARCHPRODUCTS  */

.searchProduct input {
  color: black;
  font-size: 20px;
}
/* SORTPRODUCT  */
.sortProduct .sorLeft{
    font-size: 20px;
}
/* MANAGEMENT  */

.management_header {
  font-size: 30px;
  color: rgb(64, 64, 230);
}
.mana-table {
  background-color: #d3fbfb;
  border: solid 1px #000000;
}
.mana-table #tablePhone td{
  font-size: 17px;
  font-weight: 500;
  color: #1A1A74;
}
/* FOOTER  */
footer {
  background-color: #d3fbfb;
}
footer h4 {
  font-size: 30px;
  text-align: center;
  color: rgb(64, 64, 230);
}
footer li {
  list-style: none;
}
footer .footer-item li {
  font-size: 17px;
  font-weight: 500;
  color: #311616;
}
.footer-bottom {
  font-size: 17px;
  font-weight: 500;
  color: #70452f;
}
