* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1500px;
  margin: auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  z-index: 2;
  align-items: center;
  position: fixed;
  background-color: white;
  padding: 20px;
}

header .logo {
  font-family: 'Sigmar', cursive;
  font-size: 30px;
  color: rgb(48, 176, 255);
}

nav {
  margin: auto 0;
}

a {
  display: inline;
  margin: 0 20px;
}

.carousel {
  padding-top: 85px;
}

a:hover {
  text-decoration: none;
}

.sorting {
  width: 100%;
  padding: 80px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.products {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product-container {
  display: flex;
  margin: 20px;
  width: calc(33.333% - 40px);
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
  height: auto;
}

.product-container .product-content {
  width: 100%;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  flex: 0;
}

.info-top {
  display: flex;
  justify-content: space-between;
}

.info-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-content button {
  width: 100%;
  border: none;
  padding: 10px 0;
  border-radius: 15px;
  margin-top: auto;
  flex-shrink: 0;
}

.product-container button:hover {
  background-color: rgb(136, 136, 255);
  transition: 0.3s;
  color: white;
}

.product-name {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.product-container img {
  width: 100%;
  flex-shrink: 0;
}

.product-price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #f00;
  text-align: center;
}

.product-description {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.cart i {
  z-index: 2;
  cursor: pointer;
  padding: 10px;
  bottom: 5%;
  right: 10%;
  background: whitesmoke;
  color: rgb(255, 85, 0);
}

.cart button {
  padding: 2px;
  border-radius: 5px;
  border: 2px solid rgba(70, 70, 70, 0.445);
}

.modal-header .close {
  padding: 5px;
  margin: 2px;
  border: none;
}

#showCart td button {
  padding: 0 6px;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  header .logo {
    font-size: 24px;
  }

  nav {
    display: block;
  }

  .products {
    padding: 0 10px;
  }

  .product-container {
    width: calc(50% - 40px);
    margin: 20px auto;
  }
}

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  nav {
    text-align: center;
    padding: 0;
    width: 100%;
  }

  nav a {
    padding: 0 5px;
  }

}

@media only screen and (max-width: 500px) {
  body{
    width: 100%;
  }
  .product-container {
    width: calc(100% - 40px);
    padding: 5px;
    margin: 20px auto;
  }

  .sorting{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
  }

  .sorting select{
    margin: 5px 20px;
  }

  .product-container img {
    width: 100%;
  }
}